@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Transient Id : @ViewBag.uniqueTransientId</p>
    <p>Scoped  Id : @ViewBag.uniqueScopedId</p>
    <p>Singleton Id : @ViewBag.uniqueSingletonId</p>

    <p>Second  Id : @ViewBag.secondId</p>

</div>
