<form asp-controller="Account" asp-action="SubmitAccount" method="post" class="container">
    <div class="row justify-content-center m-1">
        <input type="text" name="FirstName" placeholder="Prénom du client" class="form-control col-6 p-1" />
    </div>
    <div class="row justify-content-center m-1">
        <input type="text" name="LastName" placeholder="Nom du client" class="form-control col-6 p-1" />
    </div>
    <div class="row justify-content-center m-1">
        <input type="text" name="Phone" placeholder="Téléphone du client" class="form-control col-6 p-1" />
    </div>
    <div class="row justify-content-center m-1">
        <input type="text" name="amount" placeholder="Solde du compte" class="form-control col-6 p-1" />
    </div>
    <div class="row justify-content-center m-1">
        <button type="submit" class="col-6 btn btn-primary p-1">Valider</button>
    </div>
</form>