@inject HttpClient http
<div>

    <input type="text" @bind="LastName" class="form-control" placeholder="Votre nom" />
    <input type="text" @bind="FirstName" class="form-control" placeholder="Votre prenom" />
</div>
<button class="btn btn-primary" @onclick="@ClickPerson">Ajouter une personne</button>
@code {
    public string FirstName { get; set; }
    public string LastName { get; set; }

    [Parameter]
    public EventCallback<Person> GetPerson { get; set; }

    public async void ClickPerson()
    {
        Person p = new Person() { FirstName = FirstName, LastName = LastName };
        HttpResponseMessage response = await http.PostAsJsonAsync<Person>("/api/v1/person", p);
        Person responsePerson = await response.Content.ReadFromJsonAsync<Person>();
        await GetPerson.InvokeAsync(responsePerson);
        FirstName = "";
        LastName = "";
    }
}
